$transition-easing-primary: cubic-bezier(0.25, 0.46, 0.45, 0.94);

body {
  background: linear-gradient(to right, #ffffff, #ece9e6);
  font-family: "Open Sans", sans-serif;
}

.c-card {
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #f1f0f0;
  box-shadow: 0px 10px 35px rgba(#313131, 0.1);
  width: 200px;
  overflow: hidden;
  position: relative;
  margin: 2rem;

  &__header {
    margin: 0;
    clip-path: polygon(0 40px, 100% 20px, 100% 100px, 0 120px);
    transition: clip-path 0.15s $transition-easing-primary 0.1s;
    overflow: hidden;
    max-height: 135px;

    &::before {
      content: "";
      background: linear-gradient(to top, #fcfcfc 60%, #eb8d1c);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity 0.2s $transition-easing-primary;
    }

    &:hover {
      clip-path: polygon(0 0, 100% 0, 100% 115px, 0 135px);

      &::before {
        opacity: 0.45;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__body {
    margin-top: -5px;
    padding: 0 20px;
  }

  &__footer {
    position: relative;
    margin-top: -5px;
    clip-path: polygon(0 10px, 100% 20px, 100% 115px, 0 135px);
    padding-top: 15px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% + 10px);
      width: 100%;
      background-image: linear-gradient(170deg, #fbc64e 10%, #eb8d1c);
      transition: all 0.2s $transition-easing-primary;
      transform: translateY(0);
      z-index: -1;
    }

    &:hover {
      &::before {
        transform: translateY(-10px);
        background-image: linear-gradient(170deg, #eb8d1c 10%, #fbc64e);
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
    }
  }
}

.c-title {
  font-family: var(--title-font);
  margin: 0.5em 0;

  &--primary {
    font-size: 1.4em;
    background: linear-gradient(to right, #fbc64e 10%, #eb8d1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.c-content {
  font-size: 0.9rem;
  height: 2.5rem;
}

.c-button {
  border: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-family: var(--title-font);
  font-size: 0.9rem;
  padding: 15px 0;
  letter-spacing: 0.5em;
  background: transparent;
  outline: 0;
  cursor: pointer;
}
